<!--/workspaces/Inventory-Management-System/app/views/search/_table_body.html.erb-->
 <!--/workspaces/Inventory-Management-System/app/views/search/_table_body.html.erb -->
<!--<tbody>-->
  <%# model_results.each do |result| %>
<!--    <tr data-href="<%#= generate_path(result) %>">-->
      <%# columns.each do |attribute| %>
        <%# if attribute == 'id' %>
<!--          <td><%#= result.send(attribute.downcase) %></td>-->
        <%# else %>
<!--          <td><%#= link_to result.send(attribute.downcase), result %></td>-->
        <%# end %>
      <%# end %>
<!--    </tr>-->
  <%# end %>
<!--</tbody>-->
