<!--/workspaces/Inventory-Management-System/app/views/subcategories/edit.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/subcategories/edit.html.erb-->
<h1>Editing subcategory</h1>

<%= render "form", subcategory: @subcategory %>

<br>

<div>
  <%= link_to "Show this subcategory", @subcategory %> |
  <%= link_to "Back to Category Index", categories_path %>
</div>
