<!--/workspaces/Inventory-Management-System/app/views/subcategories/new.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/subcategories/new.html.erb-->
<h1>New subcategory</h1>

<%= render "form", subcategory: @subcategory %>

<br>

<div>
  <%= link_to "Back to subcategories", subcategories_path %>
</div>
