<div id="<%= dom_id user %>">
  <p>
    <strong>Image:</strong>
    <%= user.image %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

</div>
