<!--/workspaces/Inventory-Management-System/app/views/users/edit.html.erb-->
<h1>Edit profile</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= button_to "Show #{@user.first_name}", @user %>
  <p>
  <%= button_to "Back to users", users_path %>
</div>
