<!--/workspaces/Inventory-Management-System/app/views/users/new.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/users/new.html.erb-->
<h1>New user</h1>
<%= render "admin_form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
