<!--/workspaces/Inventory-Management-System/app/views/orders/datatable_outgoing.html.erb-->
<table id="users-datatable" data-source="<%= users_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Delivery EDA</th>
      <th>Status</th>
      <th>Sending Address</th>
      <th>Receiving Address</th>
      <th>Tracking</th>
      <th>Product IDs</th>
      <th>Units</th>
      <th>Shipping</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
