<!--/workspaces/Inventory-Management-System/app/views/orders/edit.html.erb-->
<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Back to Order ##{@order.id}", @order %> |
  <%= link_to "All Orders", orders_path %>
</div>
