<p>
<div class="header">
  <h1 class="no-margin">Incoming</h1>
<% if current_user.role == "admin" %>
  <div class="container text-right">
    <div class="row">
      <div id="create_order" class="col">
        <h1><%= link_to "New Order", new_order_path %></h1>
      </div>
    </div>
  </div>
<% elsif current_user.role == "manager" %>
  <div class="container text-right">
    <div class="row">
      <div id="create_order" class="col">
        <h1><%= link_to "New Order", new_order_path %></h1>
      </div>
    </div>
  </div>
<% end %>
</div>
<hr>
<div id="orders">
  <% @incoming_orders.each do |order| %>
    <%= render order %>
    <hr>
  <% end %>
</div>
