<!--/workspaces/Inventory-Management-System/app/views/roles/_role.html.erb-->
<div id="<%= dom_id role %>">
  <p>
    <strong>Admin:</strong>
    <%= role.admin_id %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= role.staff_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= role.manager_id %>
  </p>

</div>
