<!--/workspaces/Inventory-Management-System/app/views/roles/show.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/roles/show.html.erb-->


<%= render @role %>

<div>
  <%= link_to "Edit this role", edit_role_path(@role) %> |
  <%= link_to "Back to roles", roles_path %>

  <%= button_to "Destroy this role", @role, method: :delete %>
</div>
