<!--/workspaces/Inventory-Management-System/app/views/inventory_transactions/_inventory_transaction.html.erb-->
<div id="<%= dom_id inventory_transaction %>">
  <p>
    <strong>Transaction type:</strong>
    <%= inventory_transaction.transaction_type %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_transaction.quantity %>
  </p>

</div>
