<!--/workspaces/Inventory-Management-System/app/views/categories/new.html.erb-->
<h1>New category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
