<!--/workspaces/Inventory-Management-System/app/views/products/new.html.erb-->
<h1>New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
