<!--/workspaces/Inventory-Management-System/app/views/suppliers/new.html.erb-->
<h1>New supplier</h1>

<%= render "form", supplier: @supplier %>

<br>

<div>
  <%= link_to "Back to suppliers", suppliers_path %>
</div>
