<!--/workspaces/Inventory-Management-System/app/views/reports/_report.html.erb-->
<div id="<%= dom_id report %>">
  <p>
    <strong>Report type:</strong>
    <%= report.report_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= report.date %>
  </p>

  <p>
    <strong>Data criteria:</strong>
    <%= report.data_criteria %>
  </p>

</div>
