<!--/workspaces/Inventory-Management-System/app/views/reports/index.html.erb-->


<h1>Reports</h1>
<hr>
<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", report %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New report", new_report_path %>
