<!--/workspaces/Inventory-Management-System/app/views/order_products/_order_item.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/order_products/_order_item.html.erb-->
<div id="<%= dom_id order_item %>">
  <p>
    <strong>Quantity ordered:</strong>
    <%= order_item.quantity_ordered %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= order_item.unit_price_id %>
  </p>

  <p>
    <strong>Shipping cost:</strong>
    <%= order_item.shipping_cost_id %>
  </p>

</div>
