<!--/workspaces/Inventory-Management-System/app/views/locations/_location.html.erb-->
<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

</div>
