<!--/workspaces/Inventory-Management-System/app/views/locations/index.html.erb-->


<h1>Locations</h1>
<hr>
<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>
    <p>
      <%= link_to "Show this location", location %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
